
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: white;
}
.hero {
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b");
}

.hero-content {
  max-width: 600px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-content p {
  margin-bottom: 20px;
}

.btn {
  background: #25D366;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}
