* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  background: url("f.jpg") center/cover no-repeat;
  color: white;
}

/* HERO */
.hero {
  height: 100vh;
  background: url ("f.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.8));
  z-index: 1;
}



.hero {
  position: relative;
  height: 100vh;
  background: url('fo.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}



.hero-content h1 {
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: -1px;
}



.hero-content p {
  margin: 20px 0;
  font-size: 1.2rem;
}

.btn {
  background: linear-gradient(45deg, #00ff88, #00cc6a);
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* WHATSAPP FIXO */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
}

/* SEÇÕES */
section {
  padding: 100px 20px;
  text-align: center;
  background: #0b0b0b;
  position: relative;
  z-index: 2;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* MÉTODO */
.steps {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* OFERTA */
.offer {
  background: #00ff88;
  color: black;
}
